* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: #3e4354;
}

p {
  color: white;
}

#main {
  background-color: #464b59;
  display: flex;
  gap: 50px;
  margin: 30px;
  min-width: 1600px;
  border: solid red 1px;
}

.character {
  background-color: #4e525f;
  display: flex;
  justify-content: center;
  min-width: 500px;
  max-width: 500px;
  margin: 140px 0px;
  border: solid pink 1px;
}
